<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='cake.jpg') }}">
        <p>There are {{my_list|length}} students</p>
        {% for student in my_list %}
        <p>{{student['name']}} age: {{student.age}}</p>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>